<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <!--Using xml config for this part is more easier than extend AbstractAnnotationConfigDispatcherServletInitializer class-->

    <display-name>Archetype Created Web Application with Spring 4 (restful)</display-name>

    <!-- Listener to create the Spring Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:META-INF/spring/spring-master.xml
        </param-value>
    </context-param>

    <servlet>
        <servlet-name>sample-web</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <!--Define ApplicationContext of a DispatcherServlet-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:META-INF/spring/spring-master-web.xml</param-value>
        </init-param>
        <!--We will use @ControllerAdvice to handle exception which throw with in controller classes, so will have to set this param-->
        <init-param>
            <param-name>throwExceptionIfNoHandlerFound</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>sample-web</servlet-name>
        <url-pattern>/acc/*</url-pattern>
    </servlet-mapping>

    <!--This set default @Profile("production")-->
    <context-param>
        <param-name>spring.profiles.default</param-name>
        <param-value>production</param-value>
    </context-param>

</web-app>